body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  font-family: 'Inter', sans-serif;
  /* transition: all 0.5s; */
}

/*
button {
  transition: all 0.5s;
}
*/

input {
  border: 1px solid hsl(var(--border));
  background-color: hsl(var(--input));
  color: hsl(var(--foreground));
}

input:focus {
  outline: none;
  box-shadow: 0 0 0 2px hsl(var(--ring));
}

/*
@keyframes theme-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
*/

/*
:root {
  transition:
    background-color 1.2s ease,
    color 1.2s ease,
    border-color 1.2s ease,
    box-shadow 1.2s ease;
}
*/

html.theme-transition {
  animation: theme-fade 1.0s ease;
}
