---
import Layout from '../layouts/Layout.astro';
import LandingHero from '../components/LandingHero.astro';
import FeaturedWorkScroll from '../components/FeaturedWorkScroll.astro';

import ThemePlayground from "../components/ThemePlayground.jsx";
---

<Layout>
  <!-- Hero Section -->
  <section>
    <LandingHero />
  </section>

  <!-- Spacing between hero and next section -->
  <section>
    <FeaturedWorkScroll />
  </section>


  <!-- Optional playground, spaced properly
  <section class="mt-24">
    <ThemePlayground />
  </section> -->


</Layout>
