
<div
  class="absolute top-[0px] bottom-[40px] left-0 right-0 z-0"
  style={{
    backgroundImage: 'url(/src/gallery/travel/zebra-man.jpg)',
    backgroundSize: 'cover',
    backgroundPosition: 'center',
    backgroundRepeat: 'no-repeat',
    opacity: 0.6,
  }}
>
</div>

<div class="container text-left m-12 relative z-10">

  <h1 class="text-3xl md:text-4xl lg:text-5xl font-bold leading-tight">
    Wayne Stephens Photography
  </h1>

  <p class="mt-4 text-base md:text-lg">A place to showcase my photography</p>

  <a
    href=`/src/pages/collections`
    class="mt-8 inline-block px-6 py-3 border-2 rounded-md
      text-sm md:text-base font-medium
      transform hover:brightness-120 active:brightness-90 scale-105 active:scale-95 transition-all duration-300"
    style={{
      backgroundColor: `hsl(var(--primary))`,
      color: `hsl(var(--primary-foreground))`,
      borderColor: `hsl(var(--border))`,
    }}
  >
    View Gallery
  </a>

</div>
